  .buttonModal:hover, .buttonModal:focus, .buttonModal{
    background-color: #52c41a ;
    width: 100%;
    border-radius: 10px;
    border-color: #52c41a;
    background: #52c41a;
  }

  .ant-input:hover, .ant-input:focus{
    border-color: #52c41a;
  }

  .selectModal:hover, .selectModal:hover{
    border-color: #52c41a;
  }

  